<app-homepage></app-homepage>
<div class="jumbotron">
    <h1>Head page</h1>
  </div>


  <div class="container">
    <h2>Review of students</h2>           
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Student</th>
          <th>Marks</th>
          <th>teacher</th>
          <th>Review</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let x of y">
          <td>{{x.username}}</td>
          <td>{{x.marks}}</td>
          <td>teacher</td>
          <td><input type="text" name="review" class="form-control" [(ngModel)]="review"></td>
          <td><button type="button" class="btn btn-success" *ngIf="!submit" (click)="onsubmit()" >Submit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container" *ngIf="submit">   
    <div class="alert alert-success">  
      <strong>Success!</strong> Review Submitted  
    </div>  
    </div>

    <footer class="container-fluid bg-4 text-center">
      <h3> Support us!! www.exam.com</h3>
    </footer>